body {
    background-color: #121212;
}

.logo-main {
    font-family: 'Paytone One', sans-serif;
    font-size: 40pt;
    color: #F2E7FE;
    transform: translateY(-15px);
}

.banner-primary {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-100%);
    font-family: 'Paytone One', sans-serif;
    font-size: 70pt;
    color: #F2E7FE;
}

.banner-secondary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 30pt;
    padding: 0 0 0 15px;
}

.home {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-image: url('/images/home/landing-mockup.png');
    background-size: 50%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.home-btn {
    margin: 0 50px 0 0;
}


.primary-btn {
    width: 130px;
    height: 45px;
    background-color: #3700B3;
    color: #F2E7FE;
    border-radius: 8px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.secondary-btn {
    width: 130px;
    height: 45px;
    background-color: transparent;
    color: #f2e7fe;
    border-radius: 8px;
    border: 3px solid #f2e7fe;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
