body {
    background-color: #121212;
}

html {
    scrollbar-color: white #080808;
    scrollbar-width: thin
}

h1, h2, h3, h4, h5, h6, p, label {
    color: #F2E7FE !important;
}

label {
    margin: 50px 0 25px 0;
    font-size: 2em;
    font-weight: 200;
    display: block;
}

input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #F2E7FE;
    display: block;
    color: #F2E7FE;
    font-size: 1.5em;
    margin: 0 0 20px 0;
}

input:focus {
    outline: none;
}

.font-color {
    color: #F2E7FE !important;
}

.thin {
    font-weight: 200;
}

.bold {
    font-weight: 700;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.centered-margin {
    margin: 0 auto 0 auto;
}

.margin-top {
    margin: 50px 0 25px 0;
}

.margin-bottom {
    margin: 0 0 25px 0;
}

.margin-left {
    margin-left: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    margin-top: 60vh !important;
    margin-bottom: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    position: absolute;
    border-radius: 15px;
    background: transparent;
    background: #080808;
}

/* Handle */
::-webkit-scrollbar-thumb {
    margin-bottom: 50px;
    border-radius: 15px;
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 15px;
    margin-bottom: 50px;
    background: #080808;
}

.logo-main {
    font-family: 'Paytone One', sans-serif;
    font-size: 40pt;
    color: #F2E7FE !important;
    transform: translateY(-5px);
}

.banner-primary {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-100%);
    font-family: 'Paytone One', sans-serif;
    font-size: 5em;
    color: #F2E7FE;
}

.banner-secondary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 0.45em;
    padding: 0 0 0 15px;
}

.register-btn {
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translateY(100%);
}

.home {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-image: url('/images/home/landing-mockup.png');
    background-size: 40%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.home-btn {
    margin: 0 50px 0 0;
}


.primary-btn {
    width: 130px;
    height: 45px;
    background-color: #3700B3;
    color: #F2E7FE;
    border-radius: 8px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.primary-btn:hover {
    color: #F2E7FE;
    border: 2px solid white;
}

.plus-create-btn {
    padding-right: 8px;
}

.secondary-btn {
    width: 130px;
    height: 43px;
    background-color: transparent;
    color: #f2e7fe;
    border-radius: 8px;
    border: 3px solid #f2e7fe;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.secondary-btn:hover {
    color: #f2e7fe;
    border-color: #3700B3;
}

.setup-heading {
    margin: 50px 0 0 0;
}

.setup-btn {
    margin-top: 75px;
}

.avatar-image-selection {
    cursor: pointer;
}

.avatar-selected {
    box-shadow: inset 0px 0px 0px 10px #3700B3;
    box-sizing: border-box;
    border: 5px solid #3700B3;
}

.navbar {
    width: 100%;
    height: 75px;
    margin: 0 0 25px 0;
}

.navbar-right {
    margin-left: auto;
}

.toast {
    position: absolute;
    right: 25px;
    bottom: 25px;
    height: 100px;
    min-width: 300px;
    background-color: #080808;
    color: #F2E7FE !important;
}

.toast-body {
    position: relative;
    height: 100%;
}

.toast-message {
    position: absolute;
    top: 50%;
    left: 15px;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
}

.toast-header {
    background-color: transparent;
}

.close {
    color: #F2E7FE !important;
    margin-left: auto !important;
    opacity: 0.3;
}

.sidebar {
    position: sticky;
    top: 0;
    min-width: 300px !important;
    height: calc(100vh);
    padding: 0;
    margin-bottom: 0 !important;
    overflow-x: hidden;
    overflow-y: auto !important;
    background-color: #121212 !important;
    border-right: 1px solid rgba(242, 231, 254, 0.2);
    scrollbar-color: white #080808;
    scrollbar-width: thin
}

.sidebar-sticky {

}

.sidebar-profile {
    cursor: pointer;
    height: 100px;
}

.sidebar-friend {
    cursor: pointer;
    height: 80px;
}

.sidebar-friends-control-container {
    position: fixed;
    max-width: 300px;
    left: 0;
    bottom: 0px;
    background-color: #080808;
    height: 50px;
    width: 100%;
    border-top: 1px solid rgba(242, 231, 254, 0.2);
}

.sidebar-friend-control-col {
    position: relative;
    padding: 0 !important;
    margin: 0;
    height: 50px;
    border-right: 1px solid rgba(242, 231, 254, 0.2);
    cursor: pointer;
}

.sidebar-friend-control-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.friends-input-controls {
    position: absolute;
    left: 0;
    bottom: 50px;
    min-height: 150px;
    background-color: #080808;
    border-top: 1px solid rgba(242, 231, 254, 0.2);
    display: none;
}

.add-friends-active {
    display: block;
}

.search-friends-active {
    display: block;
}

#friend-control-heading {
    font-size: 1.2em;
    margin-top: 25px;
}

#friend-control-input {
    font-size: 1em;
    z-index: 99;
}

#friend-error-message {
    color: red;
}

::placeholder {
    font-size: 0.9em;
}

.invitation-btns {
    padding: 5px 0 0 15px;
}

.pending-notification {
    position: absolute;
    top: 53%;
    left: 50%;
    color: red;
    z-index: 999999 !important;
    pointer-events: none;
}

.decline {
    transform: scale(0.8);
    color: red;
}

.accept {
    transform: scale(0.8);
    color: green;
}

.user-avatar {
    width: 65px;
    display: inline;
    margin-left: 16px;
}

.username {
    font-size: 1.3em;
    margin: 0 0 0 15px;
    display: inline;
}

#username-available {
    color: red !important;
}

#avatar-selected-error {
    color: red !important;
    margin-bottom: 25px;
}

.user-status {
    margin: 0 0 0 15px;
    display: inline;
}

.sidebar-sticky {
    padding-top: .5rem;
}

.sidebar-heading {
    margin-bottom: 0 !important;
    height: 50px;
    background-color: #080808;
}

.sidebar-subheading {
    font-size: 1.3em;
}

.nav-item {
    padding: 0 0 0 16px;
    font-size: 1em;
    color: #F2E7FE !important;
    height: 50px;
    list-style: none;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
}

.nav-item:nth-child(odd) {
    background: #1D1D1D;
}

.room-title {
    margin: 0 0 25px 0;
    font-weight: 200;
}

.room-video {
    width: 70%;
}

@media only screen and (max-width: 1480px) {
    .home {
        background-size: 40%;
        background-position: 95% 70%;
    }

    .banner-primary {
        transform: translateY(-60%);
    }

    .register-btn {
        top: 55%;
        left: 70px;
    }
}

@media only screen and (max-width: 840px) {
    .home {
        padding: 0;
        background-size: 60%;
        background-position: 50% 80%;
    }

    .banner-primary {
        margin: 0;
        padding: 0;
        left: 0;
        top: 200px;
        font-size: 3em;
        text-align: center;
    }

    .banner-secondary {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .register-btn {
        left: 0;
        top: 260px;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .primary-btn, .secondary-btn, .logo-main, .register-btn {
        transform: scale(0.7);
    }
}

@media only screen and (max-width: 540px) {
    .banner-primary {
        font-size: 2em;
    }

    .home {
        background-size: 80%;
    }
}

.dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.375rem;
  text-align: center;
}

.dots > div {
  width: 2.125rem;
  height: 2.125rem;
  background: #3700B3;
  border-radius: 100%;
  display: inline-block;
  animation: andydots 1.4s infinite ease-in-out both;
}

.dots .dot1 {
  animation-delay: -0.32s;
}

.dots .dot2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes andydots {
  0%, 80%, 100% { -webkit-transform: scale(0)}
  40% { -webkit-transform: scale(0.5) }
}

@keyframes andydots {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

